natsort==8.4.0
einops==0.8.0
bsrgan==0.1.5
opencv-python==4.6.0.66
ipython==8.4.0
timm==0.6.11
matplotlib
Pillow
torch --index-url https://download.pytorch.org/whl/cu118
torchvision --index-url https://download.pytorch.org/whl/cu118
torchaudio --index-url https://download.pytorch.org/whl/cu118